{% extends 'base.html.twig' %}

{% block title %}Inscription à la Newsletter{% endblock %}

{% block body %}
<h1>Inscription à la Newsletter</h1>
{{form(addarticle)}}
 {# Je veux que tu me genère un form depuis le controller  #}
{% endblock %}
